* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.login-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.img-container {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aqua;
  border-radius: 20px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 60%;
}

.form-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-title h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.form-title p {
  font-size: 0.9rem;
}

.social-login,
.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.divider {
  display: flex;
  flex-direction: row;
}

.top-text {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 0.8rem;
  color: #00000080;
}

.top-text span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.social-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.social-btn img {
  width: 1rem;
  height: 1rem;
}


